@import url(
'https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;500;700&display=swap'
);



*{

box-sizing:border-box;

}


body{

margin:0;

font-family:Poppins,sans-serif;

overflow:hidden;

background:#080008;

color:white;

}



/* ------------ envelope page ------------- */


.env-page,
.story-page{

height:100vh;

position:relative;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;



background:

radial-gradient(
circle at top,

#4b0036,

#120011 55%,

#020002

);

}





.glow{

position:absolute;

width:400px;

height:400px;

background:#ff3f9b;

filter:blur(150px);

border-radius:50%;

animation:

move 5s infinite alternate;

}



@keyframes move{

to{

transform:

translate(80px,100px)

scale(1.3);

}

}





.envelope{

position:relative;

width:280px;

height:180px;

cursor:pointer;


filter:

drop-shadow(
0 0 60px #ff4fa3
);


animation:

float 3s infinite alternate;

}


@keyframes float{

to{

transform:

translateY(-20px);

}

}






.back{

position:absolute;

width:100%;

height:100%;


background:

linear-gradient(

135deg,

#ff8cc6,

#ff2d75

);


border-radius:18px;

}





.cover{

position:absolute;

bottom:0;


width:100%;

height:100%;


background:#ff4fa3;


clip-path:

polygon(

0 35%,

50% 75%,

100% 35%,

100% 100%,

0 100%

);



border-radius:18px;

z-index:3;

}






.top{

position:absolute;

width:100%;

height:100%;


background:#ff9ccd;


clip-path:

polygon(

0 0,

50% 60%,

100% 0

);



transform-origin:top;


animation:

open 2s infinite alternate;


z-index:5;

}



@keyframes open{


to{

transform:

rotateX(150deg);

}

}






.paper{


position:absolute;

width:220px;

height:130px;


background:white;


left:30px;

top:30px;


border-radius:15px;



display:flex;

justify-content:center;

align-items:center;



font-size:55px;


z-index:2;


animation:

paper 2s infinite alternate;

}



@keyframes paper{

to{

transform:

translateY(-30px);

}

}






h2{

font-family:"Great Vibes";

font-size:55px;


text-shadow:

0 0 30px #ff4fa3;


margin-top:70px;

}



p{

color:#ffbde0;

}





.particle{

position:absolute;

bottom:-50px;


color:#ff75b7;


animation:

rise 8s linear infinite;


}



@keyframes rise{


to{

transform:

translateY(-120vh)

rotate(360deg);


opacity:0;

}

}





/* story */


.story{

width:90%;

text-align:center;

}



.storyText{

font-size:60px;

font-weight:700;


background:

linear-gradient(

90deg,

white,

#ff69b4,

#c77dff

);


-webkit-background-clip:text;
background-clip: text;
-webkit-background-clip:text;

color:transparent;



filter:

drop-shadow(

0 0 25px #ff4fa3

);

}

/* MEMORY SECTION */


.memoryPage{


height:100vh;


background:

radial-gradient(

circle at top,

#52003b,

#100010 60%

);



display:flex;

flex-direction:column;


align-items:center;

justify-content:center;


overflow:hidden;

}




.memoryTitle{


font-size:55px;


font-family:"Great Vibes";


margin-bottom:40px;



text-shadow:

0 0 30px #ff4fa3;


}




.memoryBox{


display:flex;

gap:30px;

flex-wrap:wrap;


justify-content:center;


}




.polaroid{


width:220px;

height:260px;


padding:25px;


background:

rgba(255,255,255,.85);



color:#52003b;



border-radius:10px;



box-shadow:


0 20px 50px

rgba(255,50,150,.5);



text-align:center;


cursor:pointer;



}



.polaroid h3{


font-size:23px;


color:#ff2d75;


}




.polaroid p{


color:#555;


font-size:16px;


}


.nextBtn{

margin-top:40px;

}


/* QUALITIES */

.qualityPage,
.letterPage{


height:100vh;


background:

radial-gradient(

circle,

#52003b,

#090009

);



display:flex;


flex-direction:column;


justify-content:center;


align-items:center;


color:white;

}




.qualityPage h1{


font-size:50px;


font-family:"Great Vibes";


text-shadow:

0 0 30px #ff4fa3;


}




.wordBox{

display:flex;

gap:25px;

flex-wrap:wrap;

justify-content:center;

margin:50px;

}




.word{


font-size:30px;


padding:25px 35px;


border-radius:25px;


background:

rgba(255,255,255,.1);



backdrop-filter:

blur(20px);



box-shadow:

0 0 40px #ff4fa3;


}






/* LETTER */


.letterCard{


width:90%;

max-width:550px;


padding:45px;


background:

rgba(255,255,255,.15);



backdrop-filter:

blur(25px);



border:

1px solid

rgba(255,255,255,.3);



border-radius:30px;



box-shadow:

0 0 70px

rgba(255,50,150,.5);



text-align:center;


}




.letterCard h2{


font-family:"Great Vibes";


font-size:60px;


}



.letterCard p{


font-size:20px;


line-height:1.7;


color:white;


}


/* FINAL QUESTION */


.questionPage{

height:100vh;


background:

radial-gradient(

circle,

#52003b,

#070007

);



display:flex;

flex-direction:column;


align-items:center;

justify-content:center;


text-align:center;


color:white;


overflow:hidden;

}





.questionPage h1{


font-size:55px;


max-width:800px;


text-shadow:

0 0 40px #ff4fa3;


}




.buttons{

display:flex;

gap:50px;

margin-top:50px;

}





.yes,
.no{


font-size:22px;

padding:

18px 45px;


border-radius:50px;


}





.no{


background:

linear-gradient(

135deg,

#555,

#222

);

}





.counter{


margin-top:40px;


font-size:22px;


color:#ff9bd5;

}





.respect{


font-size:24px;


margin-top:40px;


color:white;


}





.answerBox{


padding:50px;


border-radius:40px;


background:

rgba(255,255,255,.12);



backdrop-filter:

blur(20px);



box-shadow:

0 0 80px #ff4fa3;


}



.loaderPage{

height:100vh;

display:flex;

align-items:center;

justify-content:center;


background:

radial-gradient(
circle,
#52003b,
#030003
);


text-align:center;


}



.loaderText{

font-size:45px;


color:white;


filter:

drop-shadow(
0 0 30px #ff4fa3
);


}



@media(max-width:600px){


.storyText{

font-size:38px;

}


h2{

font-size:40px;

}


.memoryBox{

gap:15px;

}


.polaroid{

width:160px;

height:210px;

}


.questionPage h1{

font-size:35px;

}


.buttons{

gap:15px;

}


}
